@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// font-family: 'DM Sans', sans-serif;
html{
    font-size: 62.5%;
    overflow-x: hidden;
    font-style: normal;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    display: inline-block;
    width: 100%;
}
li{
    list-style: none;
}
h1,
h2
{
    font-family: 'Inter', sans-serif;
}
p{
    font-family:  'Inter', sans-serif;
}

.container{
    width: 85%;
    height: auto;
    margin: 0 auto;
}



// For Responsive Design
@media(max-width:1024px){
    html{
        font-size: 35%;
    }
}
@media(max-width:768px){
    html{
        font-size: 20%;
    }
}
@media(max-width:480px){
    html{
        font-size: 15%;
    }
}
